@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --color-primary: #7159c1;
  --color-secundary: #372b5e;
  --color-white: #fcfcfc;
  --color-grey: #2c3e50;
  --font-primary: 'Karla', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: var(--font-primary);
}
